/*
Кмбинаторы позволяют обединить НЕСКОЛЬКО секторов для выбора  элементов
на основе их положения на веб-странице или  их отношения к другим элементам 

два селектора могут быть соединены путём добавления комбинатора между ними

Комбинаторы позволяют выбирать элементы более гибко

*/

/*комбинатор потомков*/
div .greet {
    /* выбирает все элементы с классом greet ,
    которые являются потомками любого уровня элемента div*/

    /*пробел между селекторами является комбинатором потомка */
}
/*
<div>
   <p class="greet">Hello World</p>  !!!
</div>
 <p class="greet">Hello CSS!</p>

*/

/*комбинатор прямых потомков*/
 <div > p {
    /* выбирает все энменты р которые являются прямыми потомками элемента div */
    /*символ > является дочерним комбинатором*/
}

/*
<div>
  <p>Paragraph1</p>   !!!
  <p>Paragraph2</p>   !!!
  <main>
   <p>Paragraph3</p>
  </main>
</div>
*/

/*комбинатор  соседнего родства*/


   .greet + p {
   /* выбирает элемент р который находится непосредственнопосле
   элемента с классом greet на одном уровне иерархии*/
   }


/*
<p class="greet">Paragraph 1</p>
<p>Paragraph 2</p> !!!
<p>Paragraph 3</p>
<p>Paragraph 4</p>
*/

.greet ~ p {
    /*выбикает все элементы  р кототые находятся после элемента с классом 
    greet и у которых один общий  родитель  ~ является комбинатором 
    общего родства*/
}


/*
<div>
    <p class="greet">Paragraph 1</p>
    <p>Paragraph 2</p> !!!
    <p>Paragraph 3</p> !!!
</div>
<p>Paragraph 4</p>
*/



