h1 ,p {
    background-color: chartreuse;
    font-size: 7rem;
}
/* это комментарий */

/*
    ДЛЯ ПРИМЕНЕНИЯ СТИЛЕЙ css НЕОБХОДИМО ИСПОЛЬЗОВАТЬ css СЕЛЕКТОРЫ 
            существуют селекеторы css по названиям  html тегов,классов ,id 
            и другие
    Один  селектор может выбрать один или несколько html файлов - элементов  
    ИСПОЛЬЗУЯ вложенные CSS селекторы можно выбирать 
    вложенные элементы 
*/

