*{
    /*объявления выбирает все элементы на веб странице*/
}

p{
    /*выбирает все р элементы */
}

.highlight {
    /* селектор класса*/
}

#mainHeading {
    /*# селектор по id */
}

#meinHeading, p,span{
    /*групповой селектор*/
}

[data-category="main"] {
    /*селектор атрибутов data-category c значением main 
    i- делает селектор нечуствительным к регистру*/
}


